@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
*{
    margin: 0 ;
    padding: 0 ;
}
body{
    margin-left:80px;
    margin-right: 80px ;
}
.nav-bar {
    margin-top: 45px ; 
    margin-bottom : 100px ; 
}
ul{
    display: inline;
}
ul li {
    display: block ;
    list-style: none;
    float: right ;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px ;
    color: rgb(24, 23, 23) ; 
    margin: 0 8px ;
}
ul li:hover {
    cursor: pointer;
}
.name-tag {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px ;
    color: rgb(24, 23, 23) ;    
}
.intro {
    padding-top: 70px ;
}
.main-intro {
    text-align: center ;  
    font-family: 'Merriweather', serif;
    font-size:52px ;
    margin-bottom: 10px ; 
}
.sub-intro {
    text-align: center ;  
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 20px ;
    font-size: 20px ;
    padding: 5px 30px ;
}
.past-works{
    margin-top : 80px ;
}

.work-heading{
    text-align: center ;
    font-family: 'Roboto', sans-serif;
    font-size: 20px ;
    font-weight: 500 ;
    letter-spacing: 6px;
    word-spacing: 8px ;
}
.images{
    margin-top: 30px ; 
}
.past-works{
    margin-bottom: 40px ;
}
img{
    width: 50% ;
    height: 600px;
    filter: grayscale(100%);
    transition: 1.2s ease-in-out  ;
}

img:hover {
    opacity: 0.5 ;
}
.row1 img{
    float: left;
}
.row2 img{
    float: left;
}

.contact-color{
    filter: grayscale(0) ;
    cursor: pointer ;
}

.footer {
    text-align: center ;

}






























